In [1]:
!python -V

Python 3.13.3

In [2]:
import pandas as pd
import pickle
from sklearn.metrics import root_mean_squared_error
from sklearn.feature_extraction import DictVectorizer
import xgboost as xgb
import mlflow

In [3]:
print("MLflow version:", mlflow.__version__)

MLflow version: 2.22.0

In [4]:
df = pd.read_parquet("/Users/muhammadwisalabdullah/Downloads/yellow_tripdata_2023-01.parquet")

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
print(df.tpep_dropoff_datetime - df.tpep_pickup_datetime)
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds()/60)

print(df.duration)

0         0 days 00:08:26
1         0 days 00:06:19
2         0 days 00:12:45
3         0 days 00:09:37
4         0 days 00:10:50
                ...
3066761   0 days 00:13:59
3066762   0 days 00:19:27
3066763   0 days 00:24:31
3066764   0 days 00:13:00
3066765   0 days 00:14:24
Length: 3066766, dtype: timedelta64[us]
0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Name: duration, Length: 3066766, dtype: float64

In [7]:
mlflow.set_tracking_uri("http://localhost:5000")
mlflow.set_experiment("NYC_FarePredictor")

<Experiment: artifact_location='mlflow-artifacts:/660527719073223688', creation_time=1749040196629, experiment_id='660527719073223688', last_update_time=1749040196629, lifecycle_stage='active', name='NYC_FarePredictor', tags={}>

In [8]:
def read_dataframe1(filename):
    df = pd.read_parquet(filename)

    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df.duration = df.duration.apply(lambda td: td.total_seconds()/60)

    df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical = ['PULocationID', 'DOLocationID']
    df[categorical] = df[categorical].astype(str)

    return df

In [9]:
train_df = read_dataframe1("/Users/muhammadwisalabdullah/Downloads/yellow_tripdata_2023-01.parquet")
valid_df = read_dataframe1("/Users/muhammadwisalabdullah/Downloads/yellow_tripdata_2023-02.parquet")
print(train_df.shape)
print(valid_df.shape)

(3009173, 20)
(2855951, 20)

In [10]:
train_df['PU_DO'] = train_df['PULocationID'] + '_' + train_df['DOLocationID']
valid_df['PU_DO'] = valid_df['PULocationID'] + '_' + valid_df['DOLocationID']

In [11]:
valid_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration,PU_DO
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,...,3.50,0.5,0.00,0.0,1.0,9.40,2.5,0.00,1.683333,142_163
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,...,2.25,0.5,0.00,0.0,1.0,74.65,0.0,1.25,32.083333,132_26
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,...,1.00,0.5,3.30,0.0,1.0,25.30,2.5,0.00,13.300000,161_145
5,1,2023-02-01 00:52:40,2023-02-01 01:07:18,1.0,5.10,1.0,N,148,236,1,...,3.50,0.5,5.35,0.0,1.0,32.25,2.5,0.00,14.633333,148_236
6,1,2023-02-01 00:12:39,2023-02-01 00:40:36,1.0,8.90,1.0,N,137,244,1,...,3.50,0.5,3.50,0.0,1.0,50.00,2.5,0.00,27.950000,137_244

In [12]:
categorical = ['PU_DO']

In [13]:
train_dicts = train_df[categorical].to_dict(orient='records')
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)
print(f"Dimensionality after OHE: {X_train.shape[-1]}")

Dimensionality after OHE: 21801

In [14]:
target = 'duration'
y_train = train_df[target].values

In [15]:
val_dicts = valid_df[categorical].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [17]:
y_val = valid_df[target].values

In [20]:
from pathlib import Path
models_folder = Path('models')
models_folder.mkdir(exist_ok=True)

In [21]:
with mlflow.start_run(run_name="NYC_FarePredictor"):
    train = xgb.DMatrix(X_train, label=y_train)
    valid = xgb.DMatrix(X_val, label=valid_df[target])


    best_params = {
        'learning_rate': 0.09585,
        'max_depth': 30,
        'min_child_weight': 1.6059,
        'objective': 'reg:linear',
        'reg_alpha': 0.018,
        'reg_lambda': 0.01165,
        'seed': 42,
    }

    mlflow.log_params(best_params)
    booster = xgb.train(
        params=best_params,
        dtrain=train,
        num_boost_round=30,
        evals=[(valid, "validation")],
        early_stopping_rounds=50,
    )
    y_pred = booster.predict(valid)
    rmse = root_mean_squared_error(y_val, y_pred)
    mlflow.log_metric("rmse", rmse)

    with open("models/preprocessor.b", "wb") as f_out:
        pickle.dump(dv, f_out)
    mlflow.log_artifact("models/preprocessor.b", artifact_path="preprocessor")

    mlflow.xgboost.log_model(booster, artifact_path="models_mlflow")

/opt/anaconda3/envs/ml_credit_scoring/lib/python3.13/site-packages/xgboost/callback.py:386: UserWarning: [18:42:52] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1748292887431/work/src/objective/regression_obj.cu:250: reg:linear is now deprecated in favor of reg:squarederror.
  self.starting_round = model.num_boosted_rounds()

[0]	validation-rmse:9.94147
[1]	validation-rmse:9.83596
[2]	validation-rmse:9.74455
[3]	validation-rmse:9.66813
[4]	validation-rmse:9.59981
[5]	validation-rmse:9.53950
[6]	validation-rmse:9.48615
[7]	validation-rmse:9.43617
[8]	validation-rmse:9.39121
[9]	validation-rmse:9.34932
[10]	validation-rmse:9.30924
[11]	validation-rmse:9.27239
[12]	validation-rmse:9.23735
[13]	validation-rmse:9.20387
[14]	validation-rmse:9.17229
[15]	validation-rmse:9.14262
[16]	validation-rmse:9.11257
[17]	validation-rmse:9.08298
[18]	validation-rmse:9.05652
[19]	validation-rmse:9.02968
[20]	validation-rmse:9.00383
[21]	validation-rmse:8.97943
[22]	validation-rmse:8.95527
[23]	validation-rmse:8.92991
[24]	validation-rmse:8.90785
[25]	validation-rmse:8.88585
[26]	validation-rmse:8.86320
[27]	validation-rmse:8.84283
[28]	validation-rmse:8.82271
[29]	validation-rmse:8.80141

/opt/anaconda3/envs/ml_credit_scoring/lib/python3.13/site-packages/mlflow/xgboost/__init__.py:168: UserWarning: [18:43:26] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1748292887431/work/src/c_api/c_api.cc:1427: Saving model in the UBJSON format as default.  You can use file extension: `json`, `ubj` or `deprecated` to choose between formats.
  xgb_model.save_model(model_data_path)
2025/06/04 18:43:29 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run NYC_FarePredictor at: http://localhost:5000/#/experiments/660527719073223688/runs/4044b4accaff49bfb0868efb027b5f7e
🧪 View experiment at: http://localhost:5000/#/experiments/660527719073223688